export FROM_USR_POD_NAME="s2b-test-pod"
export FROM_USR_POD_NS="shlee"
export FROM_USR_GIT_REPO="https://github.com/ElenaSihyungLee/privateRepo.git"
export FROM_USR_GIT_TOKEN="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"
export FROM_USR_BUILD_CMD="mvn compile; mvn package; mvn install;"
export FROM_USR_RUN_CMD="java -cp target/jb-hello-world-maven-0.1.0.jar hello.HelloWorld;"
